# User interface to input data to prequalify loans
using gradient boosting classifier from the previous dataa set to create predictions

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
# import our algorithms
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score, roc_auc_score,recall_score, precision_score, confusion_matrix
from sklearn.datasets import make_classification
from sklearn.tree import DecisionTreeClassifier

## importing old data that contains top ten variables

import csv file containing past data of the top ten variables.

In [3]:
df=pd.read_csv('loanw.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215248 entries, 0 to 215247
Data columns (total 12 columns):
Annual Income              215248 non-null float64
Current Loan Amount        215248 non-null int64
Credit Score               215248 non-null float64
Term                       215248 non-null int64
debt_to_income             215248 non-null float64
Ratio_loan_paid            215248 non-null float64
Maximum Open Credit        215248 non-null float64
Home Ownership             215248 non-null object
Current Credit Balance     215248 non-null int64
Years of Credit History    215248 non-null float64
Monthly Debt               215248 non-null float64
Loan Status                215248 non-null int64
dtypes: float64(7), int64(4), object(1)
memory usage: 19.7+ MB

In [5]:
df.head()

,Annual Income,Current Loan Amount,Credit Score,Term,debt_to_income,Ratio_loan_paid,Maximum Open Credit,Home Ownership,Current Credit Balance,Years of Credit History,Monthly Debt,Loan Status
0,62112.0,10036,740.0,1,0.074837,0.838443,16579.0,Rent,11970,17.7,386.36,1
1,62112.0,7228,719.0,1,0.085115,0.851573,15866.0,Home Mortgage,8488,17.8,439.56,1
2,62112.0,4612,750.0,1,0.050863,0.517152,9330.0,Rent,8919,14.0,262.27,1
3,62112.0,6114,728.0,1,0.040179,1.059241,13975.0,Home Mortgage,5772,17.8,206.97,1
4,62112.0,7068,699.0,1,0.082433,1.691553,6850.0,Own Home,4178,21.3,425.68,1

df=df.drop(['Home Ownership'], axis=1)

## Clean up data

In [6]:
df['Home Ownership'].unique()

array(['Rent', 'Home Mortgage', 'Own Home'], dtype=object)

In [7]:
df['Home Ownership']=df["Home Ownership"].map(
lambda x: 'Own Home' if x=='Home Mortgage' else x)

In [8]:
df['Home Ownership'].unique()

array(['Rent', 'Own Home'], dtype=object)

In [9]:
df.columns

Index(['Annual Income', 'Current Loan Amount', 'Credit Score', 'Term',
       'debt_to_income', 'Ratio_loan_paid', 'Maximum Open Credit',
       'Home Ownership', 'Current Credit Balance', 'Years of Credit History',
       'Monthly Debt', 'Loan Status'],
      dtype='object')

## Get dummie variables.

In [10]:
x2=pd.get_dummies(df,drop_first=True)

In [11]:
x2.columns

Index(['Annual Income', 'Current Loan Amount', 'Credit Score', 'Term',
       'debt_to_income', 'Ratio_loan_paid', 'Maximum Open Credit',
       'Current Credit Balance', 'Years of Credit History', 'Monthly Debt',
       'Loan Status', 'Home Ownership_Rent'],
      dtype='object')

In [12]:
x2.shape

(215248, 12)

In [13]:
y1=x2[['Loan Status']]
x1=x2.drop('Loan Status',axis=1)

In [14]:
y1.shape, x1.shape

((215248, 1), (215248, 11))

In [15]:
gbc=GradientBoostingClassifier()

## Create algorithm for training data

In [16]:
gfit=gbc.fit(x1,y1)

/Users/andreafung/anaconda3/envs/jpy_37/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

## create the variables to ask the clients.

In [17]:
dict_2=dict.fromkeys(['Annual Income', 'Current Loan Amount', 
        'Credit Score','Term',
        'debt_to_income','Ratio_loan_paid',
        'Maximum Open Credit','Home Ownership',
        'Current Credit Balance','Years of Credit History',
        'Monthly Debt','Loan Status'])

## Create user input for test data

In [18]:
ai=input('Annual Income ')
cur_loan=input('Current Loan Amount ')
cred_scor=input('Credit Score ')
Trm=input('Term ')
max_opcred=input('Maximum Open Credit ')
ownership=input('Home Ownership ')
cur_cred_bal=input('Current Credit Balance ')
yearcred=input('Years of Credit History ')
mont_deb=input('Monthly Debt ')
dtr=(((int(mont_deb))+1)/(((int(ai))+1)/12))
rlp=((int(cur_loan))+1)/((int(cur_cred_bal))+1)

Annual Income 52000
Current Loan Amount 1587
Credit Score 569
Term 12
Maximum Open Credit 587456
Home Ownership rent
Current Credit Balance 283474
Years of Credit History 15
Monthly Debt 2000

### create dictionary

In [19]:
dict_2['Annual Income']=float(ai)
dict_2['Current Loan Amount']=int(cur_loan)
dict_2['Credit Score']=int(cred_scor)
dict_2['Term']=int(Trm)
dict_2['debt_to_income']=int(dtr)
dict_2['Ratio_loan_paid']=int(rlp)
dict_2['Maximum Open Credit']=int(max_opcred)
dict_2['Home Ownership']=(ownership)
dict_2['Current Credit Balance']=int(cur_cred_bal)
dict_2['Years of Credit History']=int(yearcred)
dict_2['Monthly Debt']=int(mont_deb)

dict_2['Annual Income']=[ai]
dict_2['Current Loan Amount']=[cur_loan]
dict_2['Credit Score']=[cred_scor]
dict_2['Term']=[Trm]
dict_2['debt_to_income']=[dtr]
dict_2['Ratio_loan_paid']=[rlp]
dict_2['Maximum Open Credit']=max_opcred
dict_2['Home Ownership']=ownership
dict_2['Current Credit Balance']=[cur_cred_bal]
dict_2['Years of Credit History']=yearcred
dict_2['Monthly Debt']=[mont_deb]

dict_2['debt_to_income']=(int(mont_deb))+1/((int(ai)+1)/12)

In [21]:
type(dict_2)

dict

In [22]:
dict_2

{'Annual Income': ['52000'],
 'Current Loan Amount': ['1587'],
 'Credit Score': ['569'],
 'Term': ['12'],
 'debt_to_income': [0.4617603507624853],
 'Ratio_loan_paid': [0.005601904929887997],
 'Maximum Open Credit': '587456',
 'Home Ownership': 'rent',
 'Current Credit Balance': ['283474'],
 'Years of Credit History': '15',
 'Monthly Debt': ['2000'],
 'Loan Status': None}

In [23]:
# create dataframe
x=pd.DataFrame.from_dict(dict_2)

In [24]:
x.head()

,Annual Income,Current Loan Amount,Credit Score,Term,debt_to_income,Ratio_loan_paid,Maximum Open Credit,Home Ownership,Current Credit Balance,Years of Credit History,Monthly Debt,Loan Status
0,52000,1587,569,12,0.46176,0.005602,587456,rent,283474,15,2000,None

In [25]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
Annual Income              1 non-null object
Current Loan Amount        1 non-null object
Credit Score               1 non-null object
Term                       1 non-null object
debt_to_income             1 non-null float64
Ratio_loan_paid            1 non-null float64
Maximum Open Credit        1 non-null object
Home Ownership             1 non-null object
Current Credit Balance     1 non-null object
Years of Credit History    1 non-null object
Monthly Debt               1 non-null object
Loan Status                0 non-null object
dtypes: float64(2), object(10)
memory usage: 176.0+ bytes

# tells us wbat type of variables
x.dtypes

## creating the same type of data type as train

In [27]:
x['Annual Income']=x["Annual Income"].astype('float')
x['Current Loan Amount']=x['Current Loan Amount'].astype('float')
x['Credit Score']=x["Credit Score"].astype('float')
x['Term']=x['Term'].astype('float')
x['debt_to_income']=x['debt_to_income'].astype('float')
x['Ratio_loan_paid']=x['Ratio_loan_paid'].astype('float')
x['Maximum Open Credit']=x['Maximum Open Credit'].astype('float')
x['Current Credit Balance']=x['Current Credit Balance'].astype('float')
x['Years of Credit History']=x['Years of Credit History'].astype('float')
x['Monthly Debt']=x['Monthly Debt'].astype('float')
x['Loan Status']=x['Loan Status'].astype('float')

In [28]:
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 12 columns):
Annual Income              1 non-null float64
Current Loan Amount        1 non-null float64
Credit Score               1 non-null float64
Term                       1 non-null float64
debt_to_income             1 non-null float64
Ratio_loan_paid            1 non-null float64
Maximum Open Credit        1 non-null float64
Home Ownership             1 non-null object
Current Credit Balance     1 non-null float64
Years of Credit History    1 non-null float64
Monthly Debt               1 non-null float64
Loan Status                0 non-null float64
dtypes: float64(11), object(1)
memory usage: 176.0+ bytes

## ensureing same as train

In [29]:
df['Annual Income']=df["Annual Income"].astype('float')
df['Current Loan Amount']=df['Current Loan Amount'].astype('float')
df['Credit Score']=df["Credit Score"].astype('float')
df['Term']=df['Term'].astype('float')
df['debt_to_income']=df['debt_to_income'].astype('float')
df['Ratio_loan_paid']=df['Ratio_loan_paid'].astype('float')
df['Maximum Open Credit']=df['Maximum Open Credit'].astype('float')
df['Current Credit Balance']=df['Current Credit Balance'].astype('float')
df['Years of Credit History']=df['Years of Credit History'].astype('float')
df['Monthly Debt']=df['Monthly Debt'].astype('float')
df['Loan Status']=df['Loan Status'].astype('float')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215248 entries, 0 to 215247
Data columns (total 12 columns):
Annual Income              215248 non-null float64
Current Loan Amount        215248 non-null float64
Credit Score               215248 non-null float64
Term                       215248 non-null float64
debt_to_income             215248 non-null float64
Ratio_loan_paid            215248 non-null float64
Maximum Open Credit        215248 non-null float64
Home Ownership             215248 non-null object
Current Credit Balance     215248 non-null float64
Years of Credit History    215248 non-null float64
Monthly Debt               215248 non-null float64
Loan Status                215248 non-null float64
dtypes: float64(11), object(1)
memory usage: 19.7+ MB

In [31]:
x.shape

(1, 12)

In [32]:
df.shape

(215248, 12)

## Now that we have our "test" set and "train" set
we can use the imported data set as our train set 
the test set will be the filled in answers that the user inputed

In [33]:
testdf=df.copy()

In [34]:
testdf['Home Ownership'].nunique()

2

In [36]:
testdf['Home Ownership'].unique()

array(['Rent', 'Own Home'], dtype=object)

In [37]:
x['Home Ownership'].unique()

array(['rent'], dtype=object)

In [38]:
xtrain=pd.get_dummies(testdf, drop_first=False)
xtest=pd.get_dummies(x, drop_first=False)
print(xtrain.shape, xtest.shape)

(215248, 13) (1, 12)

In [39]:
xtest.columns

Index(['Annual Income', 'Current Loan Amount', 'Credit Score', 'Term',
       'debt_to_income', 'Ratio_loan_paid', 'Maximum Open Credit',
       'Current Credit Balance', 'Years of Credit History', 'Monthly Debt',
       'Loan Status', 'Home Ownership_rent'],
      dtype='object')

In [40]:
xtrain.columns

Index(['Annual Income', 'Current Loan Amount', 'Credit Score', 'Term',
       'debt_to_income', 'Ratio_loan_paid', 'Maximum Open Credit',
       'Current Credit Balance', 'Years of Credit History', 'Monthly Debt',
       'Loan Status', 'Home Ownership_Own Home', 'Home Ownership_Rent'],
      dtype='object')

In [41]:
xtrain2=xtrain.drop('Home Ownership_Own Home',axis=1)

In [42]:
xtrain2.columns

Index(['Annual Income', 'Current Loan Amount', 'Credit Score', 'Term',
       'debt_to_income', 'Ratio_loan_paid', 'Maximum Open Credit',
       'Current Credit Balance', 'Years of Credit History', 'Monthly Debt',
       'Loan Status', 'Home Ownership_Rent'],
      dtype='object')

In [43]:
xtrain2.shape

(215248, 12)

In [44]:
xtest.shape

(1, 12)

In [45]:
x_train=xtrain2.drop('Loan Status',axis=1)
x_test=xtest.drop('Loan Status', axis=1)
print(x_train.shape, x_test.shape)

(215248, 11) (1, 11)

In [46]:
ytrain=testdf[['Loan Status']]
ytest=x[['Loan Status']]

In [47]:
ytrain.shape, ytest.shape

((215248, 1), (1, 1))

In [48]:
gbc=GradientBoostingClassifier()
gbc.fit(x_train, ytrain)

/Users/andreafung/anaconda3/envs/jpy_37/lib/python3.7/site-packages/sklearn/utils/validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_decrease=0.0, min_impurity_split=None,
              min_samples_leaf=1, min_samples_split=2,
              min_weight_fraction_leaf=0.0, n_estimators=100,
              n_iter_no_change=None, presort='auto', random_state=None,
              subsample=1.0, tol=0.0001, validation_fraction=0.1,
              verbose=0, warm_start=False)

## I want this as an optupt so one means approval.

In [49]:
y_pred=gbc.predict(x_test)
y_pred

array([0.])

In [50]:
gbc.predict_proba(x_test)

array([[0.64794218, 0.35205782]])

# calculator and other ways to predict
another way to get the prediction

In [51]:
gbc.score(x_test,y_pred)

1.0

In [52]:
dfcol=df.columns

In [53]:
r=(float(entries['Annual Income'].get()))
    print("r",r)
    trm=(float(entries['Term'].get()))
    moc=(float(entries['Maximum Open Credit'].get()))
    how=(object(entries["Home Ownership: (type:rent/own home)"].get()))
    ccb=(float(entries['Current Credit Balance'].get()))
    mdbt=(float(entries['Monthly Debt'].get()))
    ych=(float(entries['Years of Credit History'].get()))
    #principal loan:
    loan=float(entries['Current Loan Amount'].get())
    ncs=float(entries['Credit Score'].get())

IndentationError: unexpected indent (<ipython-input-53-3f71db061e9a>, line 2)

# Using Tkinter to build gui

In [ ]:
import tkinter as tk
fields=('Annual Income', 'Current Loan Amount', 
        'Credit Score','Term',
        'Debt to Income Ratio','Ratio_loan_paid',
        'Maximum Open Credit','Home Ownership',
        'Current Credit Balance','Years of Credit History',
        'Monthly Debt','Loan Status')

def DebttoInncome(entries):
    #period rate:
    
       
    #principal loan:
    mont_deb=float(entries['Monthly Debt'].get())
    ai=float(entries['Annual Income'].get())
   # remaining_loan= float(entries['Remaining Loan'].get())
    
    dti=((((int(mont_deb))+1)/(((int(ai))+1)/12))
    monthly=dti
    monthly=("%8.2f"% monthly).strip()
    entries['Debt to Income Ratio'].delete(0, tk.END)
    entries['Debt to Income Ratio'].insert(0,dti)
    print("Debt to Income Ratio:" %f %float(dti))
    
def final_balance(entries):
        #period rate:
        
        r=(float(entries['Annual Rate'].get())/100)/12
        print("r",r)
        #principal_loanl:
        loan=float(entries['Loan Principle'].get())
        n= float(entries['Number of Payments'].get())
        monthly=float(entries['Monthly Payment'].get())
        q=(1+r)**n
        remaining= q*loan -((q-1)/r)*monthly 
           
        remaining=("%8.2f" %remaining).strip()
        entries['Remaining Loan'].delete(0,tk.END)
        entries['Remaining Loan'].insert(0,remaining)
        print("Remaining Loan: %f" % float(remaining))
        
def makeform(root, fields):
    entries={}
    for field in fields:
        print(field)
        row=tk.Frame(root)
        lab=tk.Label(row, width=22, text=field+": ", anchor='w')
        ent=tk.Entry(row)
        ent.insert(0,"0")
        row.pack(side=tk.TOP, fill=tk.X, padx=5,pady=5)
        lab.pack(side=tk.LEFT)
        ent.pack(side=tk.RIGHT,
                expand=tk.YES,
                fill=tk.X)
        entries[field]=ent
    return entries
    
if __name__=='__main__':
    root=tk.Tk()
    ents=makeform(root,fields)
    b1=tk.Button(root,text='Final Balance',
               command=(lambda e=ents: final_balance(e)))
    b1.pack(side=tk.LEFT,padx=5,pady=5)
        
    b2=tk.Button(root, text="Monthly Payment",
                 command=lambda e=ents: monthly_payment(e))
    b2.pack(side=tk.LEFT, padx=5, pady=5)
        
    b3=tk.Button(root, text='Quit',
                command=root.quit)
    b3.pack(side=tk.LEFT,padx=5,pady=5)
    root.mainloop()